.form {
  padding: 2rem;
}

.button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 5px;
}

button:hover {
  opacity: 1;
}

.title {
  font-size: 1.3rem;
  color: #ffffff;
}

.sex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
}
