.wrapper {
  margin: 2rem;
  padding: 3rem;
}

.title {
  color: #ecd06f;
  text-align: center;
  padding: 2rem 0rem;
}

.text {
  color: #fff;
  text-align: center;
}

.link {
  text-decoration: none;
  color: #49c5b6;
}
