.card {
  display: flex;
  flex-direction: column;
  background-color: #11282e;
  padding: 1rem;
  border-radius: 5px;
}

.card:hover {
  cursor: pointer;
}

.img-wrapper {
  align-self: center;
}

.img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.title {
  align-self: center;
  font-weight: bold;
  font-size: 1.3rem;
  color: #ecd06f;
}

.description {
  align-self: center;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
  white-space: nowrap;
}
