.card {
  display: flex;
  flex-direction: column;
  background-color: #11282e;
  padding: 1rem;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.card:hover {
  cursor: pointer;
  box-shadow: rgba(238, 255, 2, 0.25) 0px 30px 60px -12px inset,
    rgba(238, 255, 2, 0.3) 0px 18px 36px -18px inset;
}

.img-wrapper {
  align-self: center;
}

.img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.title {
  align-self: center;
  font-weight: bold;
  font-size: 1.3rem;
  color: #ecd06f;
}

.description {
  align-self: center;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
  white-space: nowrap;
}
