.container {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
}

.img {
  max-height: 70vh;
  max-width: 50vw;
  border: 1px solid transparent;
  border-radius: 5px;
}

.title {
  text-align: center;
  font-family: 'Get Schwifty', sans-serif;
  color: #49c5b6;
  font-size: 1.7rem;
  text-shadow: 1px 1px 1px #ecd06f, 0 2px 2px #ecd06f, -2px 0 2px #ecd06f, 0 -2px 2px #ecd06f;
  padding-bottom: 5rem;
}

.text {
  color: #ffffff;
  text-align: center;
  padding-bottom: 2rem;
}

.link_wrapper {
  text-decoration: none;
  background-color: #11282e;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

.link:hover {
  color: #ecd06f;
}

.link {
  text-decoration: none;
  transition: color 0.3s ease;
  color: #ffffff;
  font-size: 1.2rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img_wrapper {
  overflow: hidden;
}

@media screen and (max-width: 1100px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

@media screen and (max-width: 415px) {
  .img {
    visibility: hidden;
    display: none;
    opacity: 0;
  }
}
