.wrapper {
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.btns_wrapper {
  display: flex;
  gap: 2rem;
}

.btn {
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #11282e;
  color: #ecd06f;
  cursor: pointer;
  transition: scale 0.3s ease;
}

.btn:hover {
  scale: 1.1;
}
