.label {
  font-size: 1.3rem;
  color: #ffffff;
  display: block;
  margin-bottom: 1rem;
}

.select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid #777;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.3rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.select::after {
  content: '';
  width: 0.8em;
  height: 0.5em;
  background-color: #777;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.select::-ms-expand {
  display: none;
}

.error {
  font-weight: 300;
  font-style: italic;
  font-size: 0.8rem;
  color: red;
}
